[Unit]
Description=Lyncser file syncing application
After=network.target

[Service]
User=###user###
ExecStart=/usr/local/bin/lyncser sync

[Install]
WantedBy=multi-user.target
