[Unit]
Description=Lyncser file syncing application

[Timer]
#Run 2 minutes after boot for the first time
OnBootSec=2min
#Run every 5 minutes thereafter
OnUnitActiveSec=5min
Unit=lyncser.service

[Install]
WantedBy=timers.target
